<div class="errors">
  <%= render partial: 'sales/error' %>
</div>

<div class="filter">
  <%= form_tag sales_path, method: :get, remote: true do %>
    <%= label_tag :from %>
    <%= text_field_tag :from, params[:from], placeholder: "Выберите дату ОТ" %>
    <br />
    <%= label_tag :to %>
    <%= text_field_tag :to, params[:to], placeholder: "Выберите дату ДО" %>
    <br />
    <%= submit_tag 'Обновить' %>
  <% end %>
</div>

<div class="table">
  <table border="1">
    <thead>
      <tr>
        <th>Название</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      <% if @goods && @goods.any? %>
        <% @goods.each do |good| %>
          <%= render 'sales/good', good: good %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>