document.getElementsByClassName('errors')[0].innerHTML = '';

<% if @errors.any? %>
  document.getElementsByClassName('errors')[0].innerHTML = "<%= j render partial: 'sales/error' %>"
<% end %>

document.getElementsByTagName('tbody')[0].innerHTML = "<%= j render partial: 'sales/good', collection: @goods, as: :good %>";